#localhistory {
  background-color: #999;
  height: 1710px;
}

#localhistory-description {
  padding: 180px 30px 0 30px;
}

#localhistory-description h1 {
  font-size: 5em;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFC107;
}

#localhistory-description p {
  color: white;
  font-size: 1.6em;
}

#localhistories {
  margin: 20px;
  padding: 20px;
  height: 1050px;
  overflow-y: scroll;
}


.card-localhistory {
  width: 100%;
  margin-bottom: 25px;
  border: none !important;
  border-radius: .25rem;
  padding: 0px;
  min-width: auto;
  text-align: left;
  background-color: #EEE;
  border-radius: 0px;
  color: #333;
}

.card-localhistory:active {
  background-color: #00A5A5;
  color: white !important;
  transform: scale(.98);
}

.card-localhistory:after {
  content: '';
  display: block;
  clear: both;
}

.card-localhistory .card-img-left {
  height: 180px;
  width: 250px;
  float: left;
  background-size: cover;
  background-position: center;
}

.card-localhistory .card-container {
  float: left;
  width: calc(100% - 250px);
  padding: 20px;
  white-space: pre-wrap;
  position: relative;
  height: 140px;
}

.card-localhistory .card-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.2em;
  margin-bottom: 5px;
  color: #00A5A5;
}

.card-event:active .card-title {
  color: white !important;
}

.card-localhistory .card-text {
  font-size: 1.2em;
  color: #333;
}

.card-localhistory .card-date {
  font-style: italic;
  text-transform: uppercase;
  text-align: right;
  font-weight: 700;
}

.slideUp-enter {
  opacity: 0.01;
  transform: translateY(100px);
}
.slideUp-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 300ms linear;
}
.slideUp-exit {
  opacity: 1;
  transform: translateY(0px);
}
.slideUp-exit-active {
  opacity: 0.01;
  transform: translateY(-100px);
  transition: all 300ms linear;
}