#localhistoryitem {
  background-color: #999;
  height: 1710px;
}

.historyback-button {
  width: 90px;
  height: 90px;
  padding: 0px;
  background-color: #FFC107;
  color: white;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  text-indent: -5px;
  font-size: 60px;
  vertical-align: middle;
}


#localhistoryitem-container {
  display: flex;
  flex-direction: column;
  padding: 180px 30px 0 30px;
  height: 1650px;
}

#localhistoryitem-description {
  flex-shrink: 1;
}

#localhistoryitem-description h1 {
  font-size: 5em;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFC107;
}

.localhistory-item-description {
  color: white;
  font-size: 1.6em;
}

#localhistoryitem-description p {
  color: white;
  font-size: 1.6em;
}

#localhistoryitems {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.localhistoryitemslist {
  padding: 20px 20px 20px 0;
  overflow-x: scroll;
}

.card-localhistory {
  width: 100%;
  margin-bottom: 25px;
  border: none !important;
  border-radius: .25rem;
  padding: 0px;
  min-width: auto;
  text-align: left;
  background-color: #EEE;
  border-radius: 0px;
  color: #333;
  overflow: hidden;
}

.card-localhistory:active {
  background-color: #00A5A5;
  color: white !important;
  transform: scale(.98);
}

.card-localhistory:after {
  content: '';
  display: block;
  clear: both;
}

.card-localhistory .card-img-left {
  height: 180px;
  width: 250px;
  float: left;
  background-size: cover;
  background-position: center;
}

.card-localhistory .card-container {
  float: left;
  width: calc(100% - 250px);
  padding: 20px;
  white-space: pre-wrap;
  position: relative;
  height: 140px;
}

.card-localhistory .card-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.2em;
  margin-bottom: 5px;
  color: #00A5A5;
}

.card-event:active .card-title {
  color: white !important;
}

.card-localhistory .card-text {
  font-size: 1.2em;
  color: #999;
  height: 130px;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}

.card-localhistory .card-date {
  font-style: italic;
  text-transform: uppercase;
  text-align: right;
  font-weight: 700;
}