.modal-dialog {
  top: 650px;
}

.modal-content {
  width: 800px;
}

.local-history-item-modal-title {
  font-weight: 700;
  color: #00A5A5;
  text-transform: uppercase;
  font-size: 2.4em;
  margin-bottom: 20px;
}

.modal-local-history-item-image {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.modal-body {
  padding: 50px 50px 10px 50px;
}

.modal-footer {
  padding: 20px 50px;
}

.modal-body i {
  color: #EEE;
  margin: 0 20px 0 0;
  width: 20px;
  text-align: center;
}

.local-history-item-description {
  margin-top: 20px;
}


.local-history-item-qr {
  margin-top: 40px;
  background: white;
  padding: 1em;
  position: relative;
  border: solid 2px #CCC;
  width: 350px;
}
.local-history-item-qr::before, .local-history-item-qr::after { position: absolute; background: inherit; content: ''; z-index: 1; }
.local-history-item-qr::before { width: 280px; left: calc(50% - 140px); height: calc(100% + 4px); top: -2px; }
.local-history-item-qr::after { height: 100px; left: -2px; width: calc(100% + 4px); top: calc(50% - 50px); }
.local-history-item-qr > * { position: relative; z-index: 2; }

.qr-knowmore {
  vertical-align: top;
  width: 180px;
  display: inline-block;
  padding: 20px;
  color: #00A5A5;
  font-size: 1.2em;
}

.local-history-item-close-btn {
  background-color: #00A5A5;
}