.tab-group {
  margin: 0 0 20px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #EEE;
}

.btn-tab { 
  color: #666; 
  text-decoration: none !important; 
  width: 115px;
}
.btn-tab i { 
  
  border: solid 5px #EEE;
  display: inline-block;
  background-color: #EEE;
  font-size: 2.6em;
  line-height: 70px; 
  width: 80px; 
  height: 80px;
  border-radius: 100%;
}
.btn-tab span {
  display: block;
  font-size: .6em;
  margin-top: 5px;
  color: #666; 
  font-weight: 700;
  text-transform: uppercase;
}

.btn-tab.active i, .btn-tab:hover i {
  background-color: #666;
  color: #EEE;
}

.container-group {
  width: 100%;
  height: 470px;
  overflow-x: scroll;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card-destination {
  width: 500px;
  margin-right: 15px;
  margin-bottom: 15px;
  border: none !important;
  border-radius: .25rem;
  padding: 0px;
  min-width: auto;
  text-align: left;
  background-color: #EEE;
  border-radius: 0px;
}

.card-destination:after {
  content: '';
  display: block;
  clear: both;
}

.card-destination .card-img-left {
  height: 140px;
  width: 180px;
  float: left;
  background-size: cover;
  background-position: center;
}

.card-destination .card-container {
  float: left;
  width: calc(100% - 180px);
  padding: 10px;
  white-space: pre-wrap;
  position: relative;
  height: 140px;
}

.card-destination .card-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.6em;
  margin-bottom: 5px;
}

.card-destination .card-text {
  font-size: .8em;
  font-style: italic;
}

.card-destination .fa {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 30px;
}

.card-destination.active {
  background-color: #00A5A5;
  color: white !important;
}

.card-destination a, .card-destination a:active {
  background-color: #00A5A5;
}

.container-container {
  position: relative;
}

.container-group {
  position: absolute;
  top: 0px;
}

.slide-enter {
  opacity: 0.01;
  transform: translateX(100px);
}
.slide-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 500ms linear;
}
.slide-exit {
  opacity: 1;
  transform: translateX(0px);
}
.slide-exit-active {
  opacity: 0.01;
  transform: translateX(-100px);
  transition: all 500ms linear;
}

.search {
  border: none;
  border-bottom: 2px solid #00A5A5;
  border-radius: 0px;
  margin: 20px 0;
  outline: none !important;
  padding: 5px 0;
}

.search .input-group-text {
  border: none;
  background-color: white;
  border-right: 4px solid #EEE;
  width: 50px;
}

.keyboard-wrapper {
  position: absolute;
  z-index: 1000;
  text-align: center;
  background-color: #333;
  width: 100%;
  padding: 20px 0;
  top: -5px;
}

.keyboard-wrapper input {
  /* visibility: hidden; */
  height: calc(2.875rem + 2px);
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  width: calc(100% - 100px);
  border: none;
  margin-bottom: 20px;
}

.keyboard-wrapper button {
  font-size: 1.2em;
  padding: 10px 20px;
  min-width: 50px;
  margin: 3px;
  background-color: #666;
  color: white;
  border: none;
}

.keyboard-wrapper .ui-keyboard-space {
  width: 500px;
}

.search .form-control {
  border: none;
  outline: none;
  box-shadow: none !important;
}

.search:active {
  
}

button[data-value="✖"] {
  position: relative;
  background-color: crimson;
  left: 30px;
}

button[data-value="accept"] {
  background-color: forestgreen;
}

.keyboard-overlay {
  background-color: transparent;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  margin-left:-15px;
}

.view-link {
  display: none !important;
}