.modal-dialog {
  top: 650px;
}

.modal-content {
  width: 800px;
}

.tourist-info-modal-title {
  font-weight: 700;
  color: #00A5A5;
  text-transform: uppercase;
  font-size: 2.4em;
  margin-bottom: 20px;
}

.tourist-info-image {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.modal-body {
  padding: 50px 50px 10px 50px;
}

.modal-footer {
  padding: 20px 50px;
}

.modal-body i {
  color: #EEE;
  margin: 0 20px 0 0;
  width: 20px;
  text-align: center;
}

.tourist-info-item-description {
  margin-top: 20px;
}


.tourist-info-qr {
  margin-top: 40px;
  background: white;
  padding: 1em;
  position: relative;
  border: solid 2px #CCC;
  width: 350px;
}
.tourist-info-qr::before, .tourist-info-qr::after { position: absolute; background: inherit; content: ''; z-index: 1; }
.tourist-info-qr::before { width: 280px; left: calc(50% - 140px); height: calc(100% + 4px); top: -2px; }
.tourist-info-qr::after { height: 100px; left: -2px; width: calc(100% + 4px); top: calc(50% - 50px); }
.tourist-info-qr > * { position: relative; z-index: 2; }

.qr-knowmore {
  vertical-align: top;
  width: 180px;
  display: inline-block;
  padding: 20px;
  color: #00A5A5;
  font-size: 1.2em;
}

.tourist-info-close-btn {
  background-color: #00A5A5;
}

#modal-slideshow {
  width: 100%;
  overflow: hidden;
  height: 250px;
  background-color: #00A5A5;
  margin: 10px 0;
  position: relative;
}

#slideshow-previousSlide, #slideshow-nextSlide {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  margin-top: -25px;
  z-index: 100;
  background-color: #00A5A5;
  border-radius: 100%;
  line-height: 55px;
  font-size: 30px;
  text-align: center;
}

#slideshow-previousSlide {
  left: 20px;
}

#slideshow-nextSlide {
  right: 20px;
}

#slideshow-previousSlide i, #slideshow-nextSlide i {
  display: inline-block;
  margin-right: 0px;
}

.tourist-info-description {
  max-height: 300px;
  overflow: scroll;
  margin: 10px 0;
}