#touristinfo {
  height: 1710px;
}

.historyback-button {
  width: 90px;
  height: 90px;
  padding: 0px;
  background-color: #FFC107;
  color: white;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  text-indent: -5px;
  font-size: 60px;
  vertical-align: middle;
}

#touristinfo-schedules {
  padding: 20px 10px;
}

#touristinfo-container {
  display: flex;
  flex-direction: column;
  padding: 0px 30px 0 30px;
  height: 1050px;
}


#touristinfos {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.touristinfolist {
  padding: 20px 20px 20px 0;
  overflow-x: scroll;
  height: 1000px;
}

.card-tourist-info {
  width: 100%;
  margin-bottom: 25px;
  border: none !important;
  border-radius: .25rem;
  padding: 0px;
  min-width: auto;
  text-align: left;
  background-color: #EEE;
  border-radius: 0px;
  color: #333;
}

.card-tourist-info:active {
  background-color: #00A5A5;
  color: white !important;
  transform: scale(.98);
}

.card-tourist-info:after {
  content: '';
  display: block;
  clear: both;
}

.card-tourist-info .card-img-left {
  height: 180px;
  width: 250px;
  float: left;
  background-size: cover;
  background-position: center;
}

.card-tourist-info .card-container {
  float: left;
  width: calc(100% - 250px);
  padding: 20px;
  white-space: pre-wrap;
  position: relative;
  height: 140px;
}

.card-tourist-info .card-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.2em;
  margin-bottom: 5px;
  color: #00A5A5;
}

.card-tourist-info:active .card-title {
  color: white !important;
}

.card-tourist-info .card-text {
  font-size: 1.2em;
  color: #333;
  height: 80px;
  white-space: pre-wrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-tourist-info .card-date {
  font-style: italic;
  text-transform: uppercase;
  text-align: right;
  font-weight: 700;
}