.modal-dialog {
  top: 650px;
}

.modal-content {
  width: 800px;
}

.event-modal-title {
  font-weight: 700;
  color: #00A5A5;
  text-transform: uppercase;
  font-size: 2.4em;
  margin-bottom: 20px;
}

.modal-event-image {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  object-fit: cover;
}

.modal-body {
  padding: 50px 50px 10px 50px;
}

.modal-footer {
  padding: 20px 50px;
}

.modal-body i {
  color: #EEE;
  margin: 0 20px 0 0;
  width: 20px;
  text-align: center;
}

.event-description {
  margin-top: 20px;
  max-height: 300px;
  overflow: scroll;
}

.event-description-item {
  margin-bottom: 5px;
}

.event-qr {
  margin-top: 40px;
  background: white;
  padding: 1em;
  position: relative;
  border: solid 2px #CCC;
  width: 350px;
}
.event-qr::before, .event-qr::after { position: absolute; background: inherit; content: ''; z-index: 1; }
.event-qr::before { width: 280px; left: calc(50% - 140px); height: calc(100% + 4px); top: -2px; }
.event-qr::after { height: 100px; left: -2px; width: calc(100% + 4px); top: calc(50% - 50px); }
.event-qr > * { position: relative; z-index: 2; }

.qr-knowmore {
  vertical-align: top;
  width: 180px;
  display: inline-block;
  padding: 20px;
  color: #00A5A5;
  font-size: 1.2em;
}

.event-close-btn {
  background-color: #00A5A5;
}

.slick-thumb {
  display: block;
  position: static !important;
}

.slick-thumb li {
  background-color: transparent !important;
  width: 70px !important;
  height: 40px  !important;
  opacity: .5;
}

.slick-thumb li.slick-active {
  opacity: 1;
}

.slick-thumb li a {
  display: block;
}

.slick-thumb li img {
  display: block;
  width: 70px;
  height: 40px;
  object-fit: cover !important;
}