#whatson-schedules {
  padding: 20px 10px;
  box-shadow: 0px 3px 5px rgba(0,0,0,.3);
}

#whatson-schedules h1 {
  margin-bottom: 20px;
}

.btn-hg {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  line-height: 2;
  border-radius: .3rem;
  margin-right: 10px;
}

.btn-schedule {

}

.btn-schedule.active {
  background-color: #00A5A5 !important;
  color: white !important;
}

.events-container-container {
  position: relative;
  margin: 20px;
}


.events-container-group {
  width: 100%;
  height: 930px;
  overflow-y: scroll;
  position: absolute;
  top: 0px;
  padding: 20px;
}

.card-event {
  width: 100%;
  margin-bottom: 25px;
  border: none !important;
  border-radius: .25rem;
  padding: 0px;
  min-width: auto;
  text-align: left;
  background-color: #EEE;
  border-radius: 0px;
}

.card-event:active {
  background-color: #00A5A5 !important;
  color: white !important;
}


.card-event>div {
  transition-duration: 0;
}

.card-event:active>div {
}

.card-event:after {
  content: '';
  display: block;
  clear: both;
}

.card-event .card-img-left {
  height: 180px;
  width: 250px;
  float: left;
  background-size: cover;
  background-position: center;
}

.card-event .card-container {
  float: left;
  width: calc(100% - 250px);
  padding: 20px;
  white-space: pre-wrap;
  position: relative;
  height: 140px;
}

.card-event .card-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 5px;
  color: #00A5A5;
}

.card-event .card-text {
  font-size: 1em;
}

.card-event .card-date {
  font-style: italic;
  text-transform: uppercase;
  text-align: right;
  font-weight: 700;
}

.slideUp-enter {
  opacity: 0.01;
  transform: translateY(100px);
}
.slideUp-enter-active {
  opacity: 1;
  transform: translateY(0px);
  
}
.slideUp-exit {
  opacity: 1;
  transform: translateY(0px);
}
.slideUp-exit-active {
  opacity: 0.01;
  transform: translateY(-100px);
}