#slideshow {
  overflow: hidden;
  height: 535px;
  background-color: #00A5A5;
}

.slick-dots {
  bottom: 20px !important;
}

.slick-dots li {
  width: 13px !important;
  height: 13px !important;
  background-color: rgba(255,255,255,.6);
  text-indent: -10000px;
  border-radius: 100%;
}

.slick-dots li.slick-active {
  background-color: #00A5A5;
}

.slick-arrow {
  display: none !important;
}

#controls {
  padding: 60px 50px;
}

.control {
  height: 300px;
  margin-bottom: 30px;
  border-radius: 1px;
  text-align: center;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 15px white solid;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);

  transition: all 50ms linear;
}

.control:active {
  transform: scale(.95);
}

.control i {
  width: 100px;
  height: 100px;
  padding: 10px;
  font-size: 50px;
  line-height: 65px;
  border: solid 5px white;
  border-radius: 100%;
  margin-top: 60px;
  margin-bottom: 20px;
}

#control-wayfinding {
  background: #b5274c;
}

#control-whatson {
  background: #008996;
}

#control-history {
  background: #d67c1f;
}

#control-touristinfo {
  background: #8ca646;
}

#youarehere {
  position: absolute;
  background: white;
  color: #333;
  padding: 20px;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  width: 300px;
  text-align: left;
  left: 30px;
  top: -70px;
  line-height: 1;
  box-shadow: 0px 5px 10px rgba(0,0,0,.1);
  transform: scale(.5);
  transform-origin: left;
}

#youarehere i {
  position: absolute;
  left: -50px;
  font-size: 100px;
  top: -0px;
  color: #b5274c;
}

#youarehere span {
  font-size: 20px;
  font-weight: normal;
  color: #b5274c;
  font-style: italic;
}