#header {
  position: absolute;
  width: 1080px;
  height: 110px;
  background-color: #00A5A5;
  padding-bottom: 10px;
  z-index: 100;
}

.col-date-time {
  background-color: white;
  padding: 20px;
  height: 100px;
  font-size: 30px;
  line-height: 60px;
}

.header-date {
  font-weight: 700;
  display: inline-block;
  padding-right: 20px;
  border-right: 1px solid #999;
}

.header-time {
  padding-left: 20px;
  display: inline-block;
  border-left: 1px solid #999;
}

.col-weather {
  color: white;
  padding: 20px;
  height: 100px;
  line-height: 60px;
}

.header-temperature {
  display: inline-block;
  font-weight: 700;
  font-size: 60px;
  padding-right: 20px;
  border-right: 2px solid rgba(255,255,255,.5);
}

.header-weather {
  display: inline-block;
  line-height: 30px;
  padding-left: 10px;
}

.header-weather-icon {
  display: inline-block;
  padding-left: 20px;
  font-size: 50px;
}

.header-weather .header-weather-location {
  font-weight: 700;
  font-size: 30px;
}