/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(/fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(/fonts/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background-color: #000;
}

#root {
  height: 1920px;
  width: 1080px;
  overflow: hidden;
}

.App {
  height: 1920px;
  width: 1080px;
  overflow: hidden;
  position: relative;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.route-container {
  position: relative;
  top: 105px;
  z-index: 99;
}

.route-container > div {
  position: absolute;
  top: 0px;
  width: 1080px;
}

.page-title {
  font-weight: 700;
  font-size: 4em;
}

.fade-enter {
  opacity: 0.01;
  transform: translateX(100px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 300ms linear;
}
.fade-exit {
  opacity: 1;
  transform: translateX(0px);
}
.fade-exit-active {
  opacity: 0.01;
  transform: translateX(-100px);
  transition: all 300ms linear;
}

.back-button {
  position: absolute;
  top: 70px;
  width: 170px;
  height: 80px;
  padding: 10px 0;
  background-color: #333;
  color: white;
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
}

.back-button:active {
  transform: scale(.95);
  transform-origin: left center;
}

.back-button::after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 0px;
  right: -30px;
  border-style: solid;
  border-width: 80px 30px 0 0;
  border-color: #333 transparent transparent transparent;
}

.back-button i {
  margin-right: 20px;
  margin-left: 20px;
}

#modal-portal {
}